---
layout: default
title: Проект Street Style Портфолио Марии Евдокимовой
gallery_image: /images/street-style-6.JPG
gallery:
 - column-size: col-one-third
   aspect-ratio: one-third
   background_image: /images/street-style-1.jpg
 - column-size: col-one-third
   aspect-ratio: one-third
   background_image: /images/street-style-2.jpg
 - column-size: col-one-third
   aspect-ratio: one-third
   background_image: /images/street-style-3.jpg
 - column-size: col-one-half
   aspect-ratio: one-half
   background_image: /images/street-style-4.jpg
 - column-size: col-one-half
   aspect-ratio: one-half
   background_image: /images/street-style-5.jpg
 - column-size: col-one-third
   aspect-ratio: one-third
   background_image: /images/street-style-6.jpg
 - column-size: col-one-third
   aspect-ratio: one-third
   background_image: /images/street-style-7.jpg
 - column-size: col-one-third
   aspect-ratio: one-third
   background_image: /images/street-style-8.jpg
---

<!--------------HEADER----------------->
{% include header-nav.html %}
  
<section class="grid padded-10pr capped-width">
    <div class="col-6_sm-12" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-image square" style="background-image: url('{{page.gallery_image}}');"></div>
        <p class="image-caption-left editable"> Творческий проект, коллаборация, Санкт-Петербург</p>
    </div>
    <div class="col-6_sm-12 padded title-container relative editable" data-aos="fade-up" data-aos-duration="2000">
        <h1 class="big-bold vertical-text1"> Street Style.</h1>
    </div>
    <div class="col-6_sm-12 padded-t-2 editable" data-aos="fade-up" data-aos-duration="2000">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> <br> Eveniet nobis sapiente consequuntur quidem rem, tempore quod accusamus autem doloremque quisquam amet ullam itaque culpa natus, ea facilis eligendi dolore consequatur?</p>
    </div>
</section>

<!--------------GALLEY------------->
<section class="project-gallery padded center capped-width" id="lightgallery">

    {% for item in page.gallery %}
    <a class="{{item.column-size}} padded-05" href="{{item.background_image}}">
        <div class="bg-image {{item.aspect-ratio}}" 
             style="background-image: url('{{item.background_image}}');">    
        </div>
    </a> 
    {% endfor %} 

</section>


<!------------RELATIVE PROJECTS----------------->
<section class="v-light-bg padded-2 related-projects">
    <h4 class="center subtle-heading"> ДРУГИЕ ПРОЕКТЫ </h4>
    <div class="mob-horizontal-scroll grid" data-aos="fade-up" data-aos-duration="2000">
        <a class="col-3_xs-10 padded-1 center" href="/projects/kubizm">
            <div class="bg-image square" style="background-image: url(/images/banner-stilist-evdokimova.jpg);"></div>
            <h3 class="margin-top-1"> Кубизм </h3>
        </a>
        <a class="col-3_xs-10 padded-1 center" href="/projects/bubble">
            <div class="bg-image square" style="background-image: url(/images/model-4.jpg);"></div>
            <h3 class="margin-top-1"> Bubble </h3>
        </a>
        <a class="col-3_xs-10 padded-1 center" href="/projects/streetstyle">
            <div class="bg-image square" style="background-image: url(/images/art-workshop.jpg);"></div>
            <h3 class="margin-top-1"> Street Style </h3>
        </a>
        <a class="col-3_xs-10 padded-1 center" href="/projects/redline">
            <div class="bg-image square" style="background-image: url(/images/Aleynikova_1.jpg);"></div>
            <h3 class="margin-top-1"> Красная нить </h3>
        </a>
    </div>
</section>