---
layout: default
title: Портфолио Марии Евдокимовой
main-name: Портфолио.
portfolio_image: /images/maria-stylist.jpg
portfolio:
 - project-link: /projects/vostok
   project_image: /images/art-3.jpg
   name: Восток
   type: Творческий проект
 - project-link: /projects/kubizm
   project_image: /images/banner-stilist-evdokimova.jpg
   name: Кубизм
   type: Творческий проект
 - project-link: /projects/kostumi
   project_image: /images/evdokimova-for-brand.jpg
   name: Костюмы
   type: Работа с брендом
 - project-link: /projects/bubble
   project_image: /images/model-4.jpg
   name: Bubble
   type: Творческий проект
 - project-link: /projects/content
   project_image: /images/model-3.jpg
   name: Для контента
   type: Персональная съемка
 - project-link: /projects/art
   project_image: /images/model-2.jpg
   name: Art
   type: Творческий проект
 - project-link: /projects/bags
   project_image: /images/model-1.jpg
   name: Сумки
   type: Работа с брендом
 - project-link: /projects/streetstyle
   project_image: /images/art-workshop.jpg
   name: Street Style
   type: Работа с брендом
 - project-link: /projects/redline
   project_image: /images/Aleynikova_1.jpg
   name: Красная нить
   type: Творческий проект
   
---

<!--------------HEADER----------------->
{% include header-nav.html %}

<!----empty---->
<section class="padded-2p"></section>


<!---- Intro Banner---->
<section class="grid">
    <div class="col-5_sm-3 relative" data-aos="fade-up" data-aos-duration="2000">
        <h2 class="big-bold portfolio-heading"> {{page.main-name}} </h2>
    </div>
    <div class="col-7_sm-9 bg-image tall-110 portfolio-image" style="background-image: url('{{page.portfolio_image}}') ;" data-aos="fade-up" data-aos-duration="2000"></div>
</section>

<!--- Cards---->
<section class="grid-spaceBetween padded flex-flip-sm">
    <div class="col-8_sm-12">
        <div class="grid-center mob-horizontal-scroll" data-aos="fade-up" data-aos-duration="2000">

          {% for item in page.portfolio %}
            <a class="col-4_md-6_sm-10 padded-1 portfolio-item" href="{{item.project-link}}">
                <div class="bg-image" style="background-image: url('{{item.project_image}}')"></div>
                <h2> {{item.name}} </h2>
                <p> {{item.type}} </p>
            </a>
          {% endfor %}

        </div>
    </div>
    <div class="col-3_sm-12-top border-left sticky-top">
        <div class="sticky-top padded-2">
            <p>Мне посчастливилось работать со многими невероятными брендами, рассказывая их уникальную историю. Я обожаю творчество и индивидуальность каждого, у меня нет одного определенного стиля, если у вас есть свое видение, давайте работать вместе, чтобы создать что-то уникальное.</p>
        </div>
    </div>
</section>