<!-----Footer -------->         
<footer class="padded padded-b-0 grid-bottom-center center bg-footer text-dark" id="contact">

    <!-- column -->
    <div class="col-6_md-4_sm-12-middle left small-img hide-sm">
      <a href="/index">
        <img src="/images/logo-main.png">
      </a>
    </div>
   
    <!-- column -->
    <div class="col-6_md-8_sm-12-middle right">
      <nav class="inline">
        <a href="/"> Главная </a>|
        <a href="/portfolio"> Портфолио </a>|
        <a href="/services"> Услуги </a>|
        <a href="/index#contact"> Контакты </a>
      </nav>
      <nav class="inline socials">
        <a href="https://t.me/+iLoeJMgA4XA0ZmZi" target="_blank">
          <i class="fa-brands fa-telegram"></i>
        </a>
        <a href="https://vk.com/evdokimova.stylist" target="_blank">
          <i class="fa-brands fa-vk"></i>
        </a>
      </nav>
    
    </div>
    <div class="col-10_sm-12-bottom">
      <p class="center small-footer"> Copyright Maria Evdokimova 2022. Website by <a class="small-footer" href="https://klevercreative.ru/home" target="_blank"> Klever Studio </a>
    </p>
    </div>
    
  </footer>