<header>
    <section class="relative hide-md">
        <div class="header">
            <div class="list">
                <nav class="navigation">
                    <a href="https://t.me/+iLoeJMgA4XA0ZmZi" target="_blank">
                      <i class="fa-brands fa-telegram"></i>
                    </a>
                    <a href="/about"> Обо мне </a>
                    <a href="/services"> Услуги </a>
                    <a href="/portfolio"> Портфолио </a>
                    <a href="/index#contact"> Контакты </a>
                </nav>
            </div>
        </div>
    </section>
    
    <div class="col-7 right show-md">
        <div class="burger-button show-md">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
        </div>
    </div>
    <div class="burger-menu">
      <a href="/"> Главная </a>
      <a href="/about"> Обо мне </a>
      <a href="/portfolio"> Портфолио </a>
      <a href="/services"> Услуги </a>
      <a href="#contact"> Контакты </a>
    </div>
</header>