
<!------------RELATIVE PROJECTS----------------->
<section class="padded-2-5 related-projects">
    <h4 class="center subtle-heading"> ДРУГИЕ ПРОЕКТЫ </h4>
    <div class="mob-horizontal-scroll grid" data-aos="fade-up" data-aos-duration="2000">
        <a class="col-3_xs-10 padded-1 center" href="/projects/vostok">
            <div class="bg-image square" style="background-image: url(/images/art-5.jpg);"></div>
            <h3 class="margin-top-1"> Восток </h3>
        </a>
        <a class="col-3_xs-10 padded-1 center" href="/projects/bubble">
            <div class="bg-image square" style="background-image: url(/images/model-4.jpg);"></div>
            <h3 class="margin-top-1"> Bubble </h3>
        </a>
        <a class="col-3_xs-10 padded-1 center" href="/projects/streetstyle">
            <div class="bg-image square" style="background-image: url(/images/art-workshop.jpg);"></div>
            <h3 class="margin-top-1"> Street Style </h3>
        </a>
        <a class="col-3_xs-10 padded-1 center" href="/projects/redline">
            <div class="bg-image square" style="background-image: url(/images/Aleynikova_1.jpg);"></div>
            <h3 class="margin-top-1"> Красная нить </h3>
        </a>
    </div>
</section>